In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 1) ¿Cómo dividir una columna de texto en dos columnas separadas?

In [2]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])
print(df)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

In [3]:
df2 = df['row'].str.split(',', 1, expand=True)
print(df2)

     0                        1
0  STD            City    State
1   33   Kolkata    West Bengal
2   44    Chennai    Tamil Nadu
3   40   Hyderabad    Telengana
4   80   Bangalore    Karnataka

## 2) ¿Cómo obtener la frecuencia de valores repetidos en todo el dataframe?

In [4]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
print(df)

   a  b  c  d
0  8  5  8  5
1  4  1  5  5
2  3  2  6  1
3  2  4  3  6
4  7  1  9  8

In [5]:
#pd.Dataframe(df.values.flatten())
df2 = pd.DataFrame({'num':df.values.flatten()})
df2.groupby('num').count()

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9]

## 3) ¿Cómo obtener las posiciones donde coinciden los valores de dos columnas?

In [14]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})
print(df)

   fruit1  fruit2
0  banana  banana
1   apple  banana
2   apple   apple
3  orange  orange
4   apple  orange
5  banana  orange
6  banana  banana
7  orange  banana
8   apple  orange
9  banana   apple

In [23]:
df['igual'] = np.where((df['fruit1'] == df['fruit2']), True , np.nan)
df.index[df['igual'] == True].tolist()

[0, 2, 3, 6]