In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 1) ¿Cómo dividir una columna de texto en dos columnas separadas?

In [2]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])
print(df)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

In [3]:
df2 = df['row'].str.split(',', 1, expand=True)
print(df2)

     0                        1
0  STD            City    State
1   33   Kolkata    West Bengal
2   44    Chennai    Tamil Nadu
3   40   Hyderabad    Telengana
4   80   Bangalore    Karnataka

## 2) ¿Cómo obtener la frecuencia de valores repetidos en todo el dataframe?

In [4]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
print(df)

   a  b  c  d
0  8  5  8  5
1  4  1  5  5
2  3  2  6  1
3  2  4  3  6
4  7  1  9  8

In [5]:
#pd.Dataframe(df.values.flatten())
df2 = pd.DataFrame({'num':df.values.flatten()})
df2.groupby('num').count()

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9]

## 3) ¿Cómo obtener las posiciones donde coinciden los valores de dos columnas?

In [14]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})
print(df)

   fruit1  fruit2
0  banana  banana
1   apple  banana
2   apple   apple
3  orange  orange
4   apple  orange
5  banana  orange
6  banana  banana
7  orange  banana
8   apple  orange
9  banana   apple

In [23]:
df['igual'] = np.where((df['fruit1'] == df['fruit2']), True , np.nan)
df.index[df['igual'] == True].tolist()

[0, 2, 3, 6]

## 4) A partir de un diccionario crear un DataFrame

In [26]:
dict = {'X':[28,35,46,50,66], 'Y':[74,84,99,13,26],'Z':[36,47,56,62,73]}

In [29]:
df = pd.DataFrame.from_dict(dict)
print(df)

    X   Y   Z
0  28  74  36
1  35  84  47
2  46  99  56
3  50  13  62
4  66  26  73

## 5) Genere 3 columnas con 5 elementos cada uno. Cree una función para eliminar los N primeras o N últimas filas

In [44]:
lista = np.arange(15).reshape(3,5)
df = pd.DataFrame(
    {'col1': lista[0],
     'col2': lista[1],
     'col3': lista[2]
    })
print(df)

def eliminar_filas( df, n):
    df = df.iloc[n:]
    print(df)

eliminar_filas(df ,2)

   col1  col2  col3
0     0     5    10
1     1     6    11
2     2     7    12
3     3     8    13
4     4     9    14
   col1  col2  col3
2     2     7    12
3     3     8    13
4     4     9    14

## 6) Genere 5 columnas con 5 elementos cada uno. Cree una función para ordenar de forma ascendente o descendente los datos por columna.

In [49]:
lista = np.arange(25).reshape(5,5)
df = pd.DataFrame(
    {'col1': lista[0],
     'col2': lista[1],
     'col3': lista[2],
     'col4': lista[3],
     'col5': lista[4]
    })
print(df)

def ordenar_columnas( df, asc):
    df = df.sort_values(by=['col1', 'col2', 'col3', 'col4','col5'],ascending=asc)
    print(df)

ordenar_columnas(df ,False)

   col1  col2  col3  col4  col5
0     0     5    10    15    20
1     1     6    11    16    21
2     2     7    12    17    22
3     3     8    13    18    23
4     4     9    14    19    24
   col1  col2  col3  col4  col5
4     4     9    14    19    24
3     3     8    13    18    23
2     2     7    12    17    22
1     1     6    11    16    21
0     0     5    10    15    20

## 7 y 8) Genere 4 columnas con 5 elementos cada uno. Cree una función para obtener los N primeros o N ultimos registros.

In [54]:
lista = np.arange(20).reshape(4,5)
df = pd.DataFrame(
    {'col1': lista[0],
     'col2': lista[1],
     'col3': lista[2],
     'col4': lista[3]
    })
print(df)

def obtener_n( df, n, prim):
    if(prim):
        df = df.iloc[:n]
    else:
        df = df.iloc[-n:]
    print(df)

obtener_n(df,2,True)

   col1  col2  col3  col4
0     0     5    10    15
1     1     6    11    16
2     2     7    12    17
3     3     8    13    18
4     4     9    14    19
   col1  col2  col3  col4
0     0     5    10    15
1     1     6    11    16

## 9) Genere 6 columnas con 5 elementos cada uno. Cree una función para obtener un nuevo DataFrame sin la columna X.

In [64]:
lista = np.arange(30).reshape(6,5)
df = pd.DataFrame(
    {'col1': lista[0],
     'col2': lista[1],
     'col3': lista[2],
     'col4': lista[3],
     'col5': lista[4],
     'col6': lista[5]
    })
print(df)

def eliminar_columna( df, n):
    df = df.drop(df.columns[n-1], axis=1)
    print(df)

eliminar_columna(df,3)

   col1  col2  col3  col4  col5  col6
0     0     5    10    15    20    25
1     1     6    11    16    21    26
2     2     7    12    17    22    27
3     3     8    13    18    23    28
4     4     9    14    19    24    29
   col1  col2  col4  col5  col6
0     0     5    15    20    25
1     1     6    16    21    26
2     2     7    17    22    27
3     3     8    18    23    28
4     4     9    19    24    29